body{
    background-color: #2a2d3b;
    margin: 0px;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: pricedown;
    color: white;
    font-size: 30px;
}
.page-container{
    height: 100vh;
    position: relative;
}
header{
    background-color: #151c40;
    height: 170px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: sf-sports;
    src: url(SFSportsNight.ttf);
}
@font-face {
    font-family: pricedown;
    src: url(pricedown.otf);
}
h1{
    font-family: sf-sports;
    margin-top: 0px;
    color: white;
    font-size: 50px;
}
.main-body{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#play-comp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
#choices{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.choice-img{
    height: 80px;
    width: 80px;
}
img{
    height: 130px;
    width: 130px;
}
footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;  
    bottom: 0;
    background-color: #151c40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 0px;
}
.new-button{
    border: none;
    border-radius: 2px;
    width: 140px;
    height: 35px;
    background-color: white;
    color: black;
    padding: 2px;
    margin-bottom: 30px;
    font-family: pricedown;
    font-size: 20px;
}